




.card {
	
	padding: 0;
	width: 20rem;
	height: auto;
	background: #495057;
	margin: .5rem ;
	border-radius: .5rem;

	box-shadow: -5px 5px 15px 5px rgba(150, 150, 150, 0.2);
}

.cardHeader {
padding: .5rem;
	margin: 0;
	height: 3rem;
	padding: 0;

}

.cardBody {
	padding: .5rem;
}
.name{
	text-align: center;
}
.info{
	padding: .5rem;
	font-weight: bold;

}