h2{
    align-items: center;
    text-align: center;
    width : 100%;

}

.tile-container{
	width: 80vw;
	background: #ced4da;
	display: flex;
	align-items: center;
	flex-direction: row;
	margin: .5rem auto;
	border-radius: .5rem;
	height: auto;
}

.line{
	width: 80%;
	margin-top: .5rem;
	color:  #A577FB
}